#parent {
	position: relative;
	width: 200Px;
	height: 420PX;
	margin: 0 auto;
	border: 1px solid black;
}
#ch1 {
	top: 50px;
	background-color: red;
}
#ch2 {
	top: 160px;
	background-color: yellow;
}
#ch3 {
	top: 270px;
	background-color: green;
}
#ch1, #ch2, #ch3 {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid black;
	right: 50px;
}