.parent {
	width: 900px;
	height: 450px;
	border: 1px solid red;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.child {
	width: 100px;
	height: 100px;
	border: 1px solid green;
}
.elem {
	order: -1;
	border: 1px solid orange;
}