.parent {
	border: 1px solid red;
	display: flex;
	width: 900px;
	height: 450px;
	flex-direction: column;
	margin: 20px auto;
	justify-content: space-between;
}
.child {
	border: 1px solid green;
	height: 40px;
}