#parent {
	position: relative;
	width: 505px;
	height: 505px;
	margin: 0 auto;
	background-color: #4DEE99;
	border-radius: 50%;
}
#ch1, #ch2, #ch3, #ch4 {
	position: absolute;
	background-color:white;
}
#ch1, #ch2 {
	width:100px;
	height: 100px;
	border-radius: 50%;
	top: 60px;
}
#ch1 {
	left: 100px;
}
#ch2 {
	right: 100px;
}
#ch3 {
	height: 75px;
	width: 75px;
	top: 215px;
	left: 215px;
}
#ch4 {
	height: 25px;
	width: 200px;
	bottom: 100px;
	left: 150px;
}