#elem1 {
	left: 50px;
	border: 1px solid red;
}
#elem2 {
	left: 120px;
	border: 1px solid blue;
}
#elem3 {
	left: 190px;
	border: 1px solid green;
}
#elem1, #elem2, #elem3 {
	position: absolute;
	top: 50px;
	height: 50px;
	width: 50px;
}