body {
	background-color: #EBEBEB;
	
}
* {
	box-sizing: border-box;
	font-family: Arial;
}
h3, h4, body, p {
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 890px;
	margin: 0 auto;
	background-color: white;
}
header {
	background-color: #F8AA03;
	margin-bottom: 20px;
}
nav {
	display: flex;
}
nav a {
	text-decoration: none;
	margin: 15px 20px;
	margin-right: 0;
	color: white;
	font-size: 18px;
}
nav a:hover, a.active {
	text-decoration: underline;
}
#container {
	display: flex;
}
main {
	margin-left: 20px;
	margin-bottom: 20px;
	width: 500px;
	text-align: justify;
}
aside {
	margin-right: 20px;
	margin-left: 20px;
	width: 330px;
	text-align: justify;
}
main img {
	width: 500px;
	height: 350px;
	margin-bottom: 10px;
}
main td, main th {
	border: 1px solid black;
	width: 170px;
	text-align: center;
}
main th {
	background-color: #EBEBEB;
}
footer {
	background-color: #F8AA03;
	padding: 30px;
}
footer p {
	text-align: center;
	color: white;
}
main h3, aside h4 {
	margin-bottom: 10px;
}
main p, aside p {
	margin-bottom: 10px;
}
aside h4 {
	font-size: 17px;
}
main h3 {
	font-size: 21px;
}
main table {
	margin-bottom: 10px;
}