#e1, #e2, #e3 {
	height: 50px;
	width: 50px;
	position: absolute;
}
#e1 {
	top:50px;
	left: 50px;
	background-color: red;
	z-index: 1;
}
#e2 {
	top: 80px;
	left: 80px;
	background-color: blue;
}
#e3 {
	top: 110px;
	left: 110px;
	background-color: green;
	z-index: 2;
}