.parent {
	position: relative;
	width: 600px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid green;
}
.ch {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	border: 1px solid red;
}