.parent {
	position: relative;
	width: 600px;
	height: 500px;
	margin: 0 auto;
	background-color: #4DEE99;
}
.ch1 {
	top: 50px;
	left: 50px;
}
.ch2 {
	bottom: 50px;
	right: 50px;
}
.ch1, .ch2 {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: white;
}