* {
	box-sizing: border-box;
}
#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	padding: 20px;
	border: 1px solid black;
	height: 250px;
}
#container {
	display: flex;
}
#right {
	width: 200px;
	margin-left: 20px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#left {
	width: 200px;
	margin-left: 20px;
	padding: 20px;
	border: 1px solid black;
}
#content {
	width: 560px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	padding: 20px;
	border: 1px solid black;
	height: 100px;
}