#parent {
	height: 400px;
	width: 400px;
	background-color: #B2C248;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
}
#ch1, #ch2, #ch3, #ch4 {
	position: absolute;
	background-color: white;
	border-radius: 50%;
}
#ch1, #ch2 {
	height: 80px;
	width: 80px;
	top: 60px;
}
#ch1 {
	left: 80px;
}
#ch2 {
	right: 80px;
}
#ch5 {
	border-radius: 50%;
	position: absolute;
	background-color: #B2C248;
	bottom: 70px;
	left: 125px;
	height: 150px;
	width: 150px;
}
#ch3 {
	height: 70px;
	width: 70px;
	bottom: 140px;
	left: 165px;
}
#ch4 {
	height: 150px;
	width: 150px;
	bottom: 50px;
	left: 125px;
}