#elem1 {
	top: 50px;
	left: 50px;
	border: 1px solid red;
}
#elem2 {
	top: 80px;
	left: 80px;
	border: 1px solid blue;
}
#elem3 {
	top: 110px;
	left: 110px;
	border: 1px solid green;
}
#elem1, #elem2, #elem3 {
	position: absolute;
	height: 50px;
	width: 50px;
}