#elem1 {
	top: 50px;
	left: 50px;
	background-color: red;
}
#elem2 {
	top: 80px;
	left: 80px;
	background-color: blue;
}
#elem3 {
	top: 110px;
	left: 110px;
	background-color: green;
}
#elem1, #elem2, #elem3 {
	position: absolute;
	height: 50px;
	width: 50px;
}