#menu {
	display: flex;
}
#menu a {
	box-sizing: border-box;
	padding: 15px 35px 30px;
	background-color: #16A177;
	color: white;
	font: 16px Arial;
	text-decoration: none;
}
#menu a:hover, #menu a.active {
	background-color: #16785C;
}