#wrapper {
	margin: 0 auto;
	width: 700px;
}
#wrapper h1 {
	text-align: center;
	font-weight: normal;
}
#wrapper div {
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 20px;
}
#wrapper a {
	color: blue;
	text-decoration: none;
}
#wrapper a:hover {
	text-decoration: underline;
}
#wrapper p {
	text-align: justify;
}
#wrapper p.more {
	text-align: right;
	margin-right: 20px;
}