.parent {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	border: 1px solid red;
	width: 900px;
	height: 400px;
	margin: 20px auto;
}
.child {
	border: 1px solid green;
	height: 60px;
	width: 120px;
}