.parent {
	padding: 20px;
	border: 1px solid black;
}
.child {
	height: 50px;
	width: 100px;
	border: 1px solid green;
	text-align: center;
	float: right;
	margin: 0 10px;
}
.clearfix {
	clear: both;
}