* {
	box-sizing: border-box;
}
#wrapper {
	width: 1200px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	height: 250px;
	border: 1px solid black;
	padding: 20px;
}
#footer {
	height: 100px;
	border: 1px solid black;
	padding: 20px;
}
#container {
	display: flex;
}
#sidebar {
	border: 1px solid black;
	width: 300px;
	margin-right: 40px;
	height: 900px;
	padding: 20px;
}
#content {
	border: 1px solid black;
	width: 860px;
	padding: 20px;
}