#menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#menu a {
	width: 350px;
	box-sizing: border-box;
	margin: 5px;
	padding: 15px 25px;
	background-color: #16A177;
	color: white;
	font: 16px Arial;
	text-decoration: none;
	border: 1px solid #16A177;
}
#menu a:hover, #menu a.active {
	color: #16A177;
	background-color: white;
}