.parent {
	border: 1px solid red;
	margin: 20px auto;
	width: 900px;
	height: 450px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: flex-start;
}
.child {
	border: 1px solid green;
	width: 120px;
	height: 60px;
}