.parent {
	border: 1px solid black;
	padding: 20px;
	margin: 0 auto;
	text-align: justify;
	width: 600px;
}
.child {
	float: right;
	width: 100px;
	height: 70px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	border: 1px solid green;
}