* {
	box-sizing: border-box;
}
body, p, h1, h2, ul, ol {
	margin: 0;
	padding: 0;
}
.center {
	width: 840px;
	padding: 10px;
	margin: 0 auto;
}
.wrapper {
	margin-bottom: 30px;
}
#header {
	background-color: #008040;
	color: white;
}
.wrapper h2 {
	text-align: center;
	margin-bottom: 10px;
	font: bold 27px Arial;
}
.wrapper li {
	list-style-position: inside;
}
.wrapper p, .wrapper li {
	margin-bottom: 10px;
	font: 16px Arial;
	text-align: justify;
}
#header h1 {
	font: bold 36px Arial;
	margin-bottom: 7px;
	text-align: center;
}
#header p {
	font-size: 21px;
	text-align: center;
	margin-bottom: 5px;
}
#contacts {
	background-color: #C60304;
	color: white;
}
#contacts p {
	text-align: center;
}
#footer {
	background-color: #FF8040;
	color: white;
	padding-top: 100px;
}
#footer p {
	font-size: 13px;
	text-align: center;
}