body {
	background-color: #EBEBEB;
}
* {
	box-sizing: border-box;
	font-family: Arial;
}
h1, h2, body, p, ul, li {
	margin: 0;
	padding: 0;
}
header, footer {
	background-color: #242424;
}
nav {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
nav a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 19px;
}
nav a:hover, nav a.active {
	background-color: #585858;
}
#wrapper {
	background-color: white;
	width: 1100px;
	margin: 0 auto;
	display: flex;
}
aside {
	width: 300px;
	padding: 20px 20px 0 20px
}
aside img {
	width: 270px;
	margin-bottom: 10px;
}
aside p, aside li {
	font-size: 13px;
	margin-bottom: 10px;
	text-align: justify;
}
aside li {
	list-style-type: none;
}
aside h2 {
	font-size: 17px;
	margin-bottom: 10px;
}
main {
	width: 495px;
	padding: 20px 0;
}
main img {
	width: 495px;
	margin-bottom: 10px;
}
main p {
	text-align: justify;
	font-size: 13px;
	margin-bottom: 10px;
}
main h1 {
	margin-bottom: 10px;
	font-size: 21px;
}
main h2 {
	margin: 20px 0;
	font-size: 19px;
}
#center {
	display: flex;
	width: 1100px;
	margin: 0 auto;
	justify-content:space-between;
}
#block {
	background-color: #EBEBEB;
	margin-top: 30px;
	width: 250px;
	text-align: center;
	height: 200px;
}
#block h2 {
	margin: 15px 0 10px 0;
	font-size: 19.5px;
}
#block p {
	font-size: 12px;
}
#copyright {
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
	color: white;
	font-size: 13px;
}